$check_mark_scale: 1.25;
$light_gray_color: #9abbce;
$light_blue_color: #2196f3;
$hover_blue_color: #f1fcff;
$text_color: #4a4a4a;

.body {
  width: 232px;
  padding: 10px 0;
  align-self: flex-start;
  // font-family: 'Open Sans', sans-serif;

  // background-color: yellow;
  // border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  background: #fff;

  @media (max-width: 960px) {
    align-self: center;
    margin-bottom: 15px;
  }
}

.label {
  // font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 154%;
  color: $text_color;
  padding: 10px 20px 5px 20px;
  // padding-top: 10px;
  // padding-bottom: 5px;
  margin: 0;
}

.check-all-item {
  width: 100%;
}

:global {
  .ant-checkbox-wrapper {
    padding: 10px 20px;

    letter-spacing: 0.01em;
    // font-family: 'Open Sans', sans-serif;
    // font-weight: 400;
    // font-size: 13px;
    line-height: 154%;
    color: $text_color;

    &:not(.ant-checkbox-wrapper-disabled):hover {
      background-color: $hover_blue_color;
    }

    // &:hover .ant-checkbox-inner {
    &:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox .ant-checkbox-inner {
      // background-color: red;

      // background-color: #ffffff;
      border: 1px solid $light_gray_color;
      // border-radius: 4px;
      // border-collapse: separate;
      // transition: all 0.3s;
    }

    &:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
      // background-color: red;

      // background-color: #ffffff;
      border: 1px solid $light_blue_color;
      border-radius: 4px;
      border-collapse: separate;
      // transition: all 0.3s;
    }
  }

  .ant-checkbox-group {
    display: flex;
    flex-direction: column;
  }

  .ant-checkbox-input {
    // display: flex;
    // align-items: center;
    // justify-content: center;

    // width: 32px;
    // height: 32px;

    &:checked + .ant-checkbox-inner {
      // background-image: url('../../assets/Check_mark.svg');
      // background-position: center;
      // background-repeat: no-repeat;

      background-color: #ffffff;
      border: 1px solid $light_blue_color;
      border-radius: 4px;
      border-collapse: separate;
      transition: all 0.3s;
    }

    &:checked + .ant-checkbox-inner::after {
      width: calc(5.7142857142857135px * $check_mark_scale);
      height: calc(9.142857142857142px * $check_mark_scale);

      border: 2px solid $light_blue_color;
      border-top: 0;
      border-inline-start: 0;
      inset-inline-start: 25%;
      transform: rotate(45deg) translate(-50%, -50%);
    }
  }
}
